name: task_entry_app
description: A new Flutter project.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 0.0.1+1

environment:
  sdk: ">=3.5.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.19.0
  provider: ^6.0.0
  flutter_riverpod: ^2.5.1
  go_router: ^14.2.7
  sqflite: ^2.3.3+1
  path: ^1.9.0
  uuid: ^4.5.1
  animations: ^2.0.11

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
